.c-chats {
  width: 100%;
}

.c-chats__card {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem .8rem;
  border: 2px solid rgba(255, 255, 255, .05);
  border-radius: .4rem;
  margin-top: .8rem;
  background: rgba(255, 255, 255, .1);
}

.c-chats__card:hover {
  background: rgba(255, 255, 255, .2);
}

.c-chats__card__title {
  pointer-events: none;
  flex: 1;
  color: #efefff;
  font-size: .8rem;
}

.c-chats__card__title::first-letter {
  text-transform: capitalize;
}

.c-chats__card__actions {
  display: flex;
  gap: .5rem;
}

.c-chats__card__actions button {
  cursor: pointer;
  border-radius: .3rem;
  padding: .3rem;
  background: rgba(255, 255, 255, .1);
  transition: .3s;
}

.c-chats__card__actions button:hover {
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 0 1px 2px var(--details-color);
}

.c-chats__card__actions button i {
  font-size: .7rem;
  color: #dadae0;
}

.c-chats__card__actions button:hover i {
  color: #fff;
}