:root {
  --primary-color: #2a2a30;
  --secondary-color: #3a3a40;
  --details-color: #00b1ff;
  --margin-h: .8rem;
  --font-size: 18px;
}

*, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  /* background-color: #222225; */
  background: var(--primary-color);
}

textarea,
button {
  border: none;
  outline: none;
  resize: none;
}

li {
  list-style: none;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}