.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem var(--margin-h);
  background: var(--secondary-color);
}

.c-header h1 {
  color: #efefff;
  font-size: 1rem;
}

.c-header button {
  justify-content: center;
  background: transparent;
  border-radius: .2rem;
}

.c-header button:hover {
  background: rgba(255, 255, 255, .1);
}

.c-header button i {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #efefff;
}