.c-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: var(--margin-h);
  background: var(--primary-color);
}

/* Header  */

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .5rem var(--margin-h);
  background: var(--secondary-color);
}

.c-header__menu {
  display: flex;
}

.c-header__menu img {
  width: 1rem;
  height: 1rem;
}

.c-header h1 {
  color: #efefff;
  font-size: 1rem;
}

.c-header__new_chat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: .15rem;
  font-size: 1rem;
  color: #dfdfef;
  font-weight: bold;
  background: rgba(255, 255, 255, .1);
}

.c-header__new_chat:hover {
  background: rgba(255, 255, 255, .2);
}

/* MAIN */

.c-main {
  flex: 1;
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
}

/* responses */

.c-responses {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: .5rem;
  margin-right: .3rem;
  margin-left: var(--margin-h);
  padding-right: calc(var(--margin-h) - .3rem);
  overflow-y: auto;
}

.c-responses::-webkit-scrollbar {
  width: .3rem;
}

.c-responses::-webkit-scrollbar-track {
  background: transparent;
}

.c-responses::-webkit-scrollbar-thumb {
  background-color: var(--details-color);
  border-radius: 20px;
}

.placeholder {
  text-align: center;
  font-size: .8rem;
  width: 100%;
  color: #afafbf;
  margin-top: 1rem;
}

.question {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  color: #dadaf0;
  font-size: .9rem;
  padding: .3rem 0;
}

.question img {
  height: 1.1rem;
  height: 1.1rem;
  padding: .1rem;
  border-radius: .2rem;
  margin-right: .5rem;
  /* background: rgba(255, 255, 255, .09); */
}

.question:nth-child(1) {
  margin-top: 0;
}

.response {
  padding: .5rem;
  border-radius: .2rem;
  color: #dfdfef;
  width: 100%;
  white-space: pre-wrap;
  font-size: .8rem;
  line-height: 1.2rem;
  background: var(--secondary-color);
  /* background: #121212; */
  word-wrap: break-word;
}

/* FOOTER */

.c-footer {
  margin: 0 var(--margin-h);
  margin-top: 1rem;
}

/* STATUS */

.c-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.c-status__progress {
  font-size: .8rem;
  color: rgba(255, 255, 255, .5);
}

.c-status__stop {
  cursor: pointer;
  font-size: .7rem;
  padding: .3rem .5rem;
  color: #fff;
  font-weight: bold;
  border-radius: .2rem;
  background: var(--details-color);
  opacity: 1;
  transition: opacity .4s ease;
}

.c-status__stop.hide {
  opacity: 0;
}

.c-status__stop:hover {
  background: #059ddf;
}

/* QUESTION */

.c-form {
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  border-radius: .3rem;
  border: 2px solid transparent;
  transition: border .3s;
}

.c-form:focus-within {
  border: 2px solid var(--details-color);
}

.c-form textarea {
  flex: 1;
  padding: .5rem;
  height: 100%;
  font-size: .8rem;
  color: #babac0;
  border-radius: .3rem;
  border: 2px solid transparent;
  background: transparent;
}

.c-form textarea:disabled {
  opacity: .5;
}

.c-form button {
  cursor: pointer;
  padding: .25rem;
  border-radius: .2rem;
  margin: 0 .3rem 0 .5rem;
  background: transparent;
  transition: background-color .3s ease;
}

.c-form button:hover {
  background: rgba(0, 0, 0, .2);
}

.c-form button:focus {
  border: 2px solid rgba(255, 255, 255, .1);
}

.c-form button img {
  height: 1.1rem;
  height: 1.1rem;
}

/* SETTINGS */

.c-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.c-blur.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--secondary-color);
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .2);
}


.c-settings h2 {
  font-size: .8rem;
  text-align: center;
  color: #efefff;
}

.c-settings__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin-top: 1rem;
}

.c-settings__control label {
  color: #b2b1b5;
  white-space: nowrap;
  margin-right: 1rem;
  font-size: .8rem;
}

.c-settings__control input[type=number] {
  padding: .3rem .2rem;
  border: 1px solid rgba(255, 255, 255, .1);
  color: #efefff;
  font-size: .6rem;
  background: rgba(0, 0, 0, .15);
  margin-left: .5rem;
}

.c-settings__control input[type='checkbox'] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: .2rem;
  background: var(--primary-color);
}

.c-settings__control input[type='checkbox']:checked::before {
  content: "";
  position: absolute;
  border-left: .18rem solid var(--details-color);
  border-bottom: .18rem solid var(--details-color);
  display: inline-block;
  width: .5rem;
  height: .4rem;
  margin-top: -.2rem;
  transform: rotate(-45deg);
}

.c-settings__control [data-temperature-value] {
  font-size: .8rem;
  color: #dadafa;
  margin-left: .5rem;
}

.c-settings .buttons {
  display: flex;
  align-items: center;
}

.c-settings button {
  padding: .4rem .5rem;
  flex: 1;
  margin-top: 1rem;
  font-size: .6rem;
  font-weight: bold;
  color: #efefff;
  cursor: pointer;
  border-radius: .2rem;
  background: rgba(255, 255, 255, .1);
  opacity: .9;
}

.c-settings button:last-child {
  margin-left: .5rem;
  color: rgba(255, 255, 255, .9);
  background: var(--details-color);
}

.c-settings button:hover {
  opacity: 1;
}

.c-settings button:active {
  transform: scale(.95)
}