.c-responses {
  width: 100%;
}

.c-responses__back {
  position: sticky;
  top: 0;
  border-radius: 50px;
  background: #4a4a50;
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

.c-responses__back:hover {
  background: #5a5a60;
}

.c-responses__back i {
  font-size: 1.3rem;
  color: #fff;
}

.c-responses__question {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.c-responses__question:nth-child(1) {
  margin-top: 0;
}

.c-responses__question i {
  font-size: .7rem;
  color: var(--details-color);
  margin-right: .5rem;
}

.c-responses__question h3 {
  color: #dadaf0;
  font-size: .8rem;
}

.c-responses__question h3::first-letter {
  text-transform: capitalize;
}

.c-responses__response {
  padding: .5rem;
  border-radius: .2rem;
  color: #dfdfef;
  width: 100%;
  font-size: .8rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.2rem;
  background: var(--secondary-color);
  margin-top: .5rem;
}

.c-responses__response--error {
  border: 2px solid rgb(211, 13, 128);
}